In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
csv_wiki = requests.get("https://en.wikipedia.org/wiki/Comma-separated_values")
soup = BeautifulSoup(csv_wiki.text, 'html.parser')

In [3]:
ths = soup.find(id = "Example")
table = ths.findNext('pre').text
print(table)

Year,Make,Model,Description,Price
1997,Ford,E350,"ac, abs, moon",3000.00
1999,Chevy,"Venture ""Extended Edition""","",4900.00
1999,Chevy,"Venture ""Extended Edition, Very Large""","",5000.00
1996,Jeep,Grand Cherokee,"MUST SELL!
air, moon roof, loaded",4799.00

In [4]:
t1 = ths.findNext('pre')
print("t1: ", t1, "\n")
t2 = t1.findNext('pre')
print("t2: ", t2)

t1:  <pre>Year,Make,Model,Description,Price
1997,Ford,E350,"ac, abs, moon",3000.00
1999,Chevy,"Venture ""Extended Edition""","",4900.00
1999,Chevy,"Venture ""Extended Edition, Very Large""","",5000.00
1996,Jeep,Grand Cherokee,"MUST SELL!
air, moon roof, loaded",4799.00
</pre>

t2:  <pre>Year,Make,Model,Length
1997,Ford,E350,2.35
2000,Mercury,Cougar,2.38
</pre>

In [5]:
f = open('car.csv', 'w')
f.write(table)
f.close()

In [6]:
import pandas as pd
df2 = pd.read_csv('car.csv')
df2

,Year,Make,Model,Description,Price
0,1997,Ford,E350,"ac, abs, moon",3000.0
1,1999,Chevy,"Venture ""Extended Edition""",NaN,4900.0
2,1999,Chevy,"Venture ""Extended Edition, Very Large""",NaN,5000.0
3,1996,Jeep,Grand Cherokee,"MUST SELL!\r\nair, moon roof, loaded",4799.0